@{
    ViewBag.Title = "Tops";
}
<p><a href="http://localhost:64429/Tops/Index" class="btn btn-primary btn-lg">Tops &raquo;</a></p>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
