@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div><img src="~/content/newfolder1/3546244335_334e11673e.jpg" /></div>
    <h1>Your Wardrobe</h1>
    @*Added Buttons to navigate to Category and Reviews*@
    <p><a href="http://localhost:64429/Accessories/Index" class="btn btn-primary btn-lg">Accessories &raquo;</a></p>
    <p><a href="http://localhost:64429/Bottoms/Index" class="btn btn-primary btn-lg">Bottoms &raquo;</a></p>
    <p><a href="http://localhost:64429/Shoes/Index" class="btn btn-primary btn-lg">Shoes &raquo;</a></p>
    <p><a href="http://localhost:64429/Tops/Index" class="btn btn-primary btn-lg">Tops &raquo;</a></p>
</div>

